/* Table.module.css */

.table {
    max-width: 500px;
    overflow: auto;
    max-height: 400px; /* 可选：设置表格的最大高度，便于滚动 */
    /* border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; */
    display: block;
    border-spacing: 0;
    width: 100%;
    /* border-collapse: collapse; */
    table-layout: fixed; /* 固定列宽布局 */
}

.cell,
.headerCell {
    padding: 12px 16px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;

    overflow: hidden; /* 溢出内容隐藏 */
    text-overflow: ellipsis; /* 超出内容显示省略号 */
    max-width: 200px; /* 设置最大宽度 */
}

.stickyHeader {
    position: sticky;
    top: 0;
    background-color: #f5f5f5; /* 固定表头背景色 */
    z-index: 2; /* 让表头位于最上层 */
}

.stickyColumn {
    position: sticky;
    left: 0;
    background-color: #f5f5f5; /* 固定列背景色 */
    z-index: 1; /* 让固定列位于表体上层，但低于表头 */
}

.stickyHeader.stickyColumn {
    z-index: 3; /* 确保表头和第一列交叉单元格在最顶层 */
}
